<div class="font">
<div class="container">
  <div class="row justify-content-center">
    <div class="p-3 mb-2 bg-light text-dark">
   <h4>▼会員情報編集</h4>
   <div class="p-3 mb-2 bg-white text-dark">

  <div class="col-12">
  <%= form_with model: @client, local:true, url: admin_client_path do |f| %>

  <table class="row table row justify-content-center table-#FFEEFF">
    <tr>
      <th class="col-xs-2"><%= f.label :会員ID %></th>
      <td class="col-xs-10"><%= f.text_field :id  , class:"form-control"%></td>
    </tr>

    <tr>
      <th><%= f.label :氏名 %></th>
      <td><%= f.text_field :last_name, class:"form-control" %><br>
          <%= f.text_field :first_name, class:"form-control" %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :フリガナ %></th>
      <td><%= f.text_field :kana_last_name, class:"form-control" %><br>
      <%= f.text_field :kana_first_name, class:"form-control" %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :郵便番号 %></th>
      <td><%= f.text_field :postal_code, class:"form-control" %></td>
    </tr>

    <tr>
      <th><%= f.label :住所 %></th>
      <td><%= f.text_field :address, class:"form-control" %></td>
    </tr>

    <tr>
      <th><%= f.label :電話番号 %></th>
      <td><%= f.text_field :telephone_number, class:"form-control" %></td>
    </tr>

    <tr>
      <th><%= f.label :メールアドレス %></th>
      <td><%= f.text_field :email , class:"form-control"%></td>
    </tr>

    <tr>
      <th><%= f.label :会員ステータス %></th>
      <td><%= f.select :client_status, [["有効会員","false"], ["退会済み","true"]], class:"form-control" %></td>
    </tr>
  </table>


      <div class="row text-right justify-content-center">
        <%= f.submit "変更を保存する" ,class: "moe-btn" %>
      <% end %>
     </div>
     <center><div class="heart">&#9829;</div></center>
  </div>
</div>
</div>
