<div class="font">
 <div class="container">

 <div class="row justify-content-center">
   <!--<div class=""></div>-->
   <div class="p-3 mb-2 bg-light text-dark">
  <h2>会員情報詳細</h2>
  <div class="p-3 mb-2 bg-white text-dark">
    <div class="col-12 mx-auto">

     <table class="row table justify-content-center table-#FFEEFF mx-auto">

        <tr>
          <th class="col-xs-6">顧客ID</th>
          <td class="col-xs-6"><%= @client.id %></td>
        </tr>

        <tr>
          <th>氏名</th>
          <td><%= @client.last_name %>
              <%= @client.first_name %></td>
        </tr>

        <tr>
          <th>フリガナ</th>
          <td><%= @client.kana_last_name %><%= @client.kana_first_name %></td>
        </tr>

        <tr>
          <th>郵便番号</th>
          <td><%= @client.postal_code %></td>
        </tr>

        <tr>
          <th>住所</th>
          <td><%= @client.address %></td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td><%= @client.telephone_number %></td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td><%= @client.email %></td>
        </tr>
        <tr>
          <th>状態</th>

            <td><% if @client.client_status == false %>
              <span class="label label-primary">
                有効会員
              </span>
              <% else %>
              <span class="label label-danger">
                退会済み
              </span>
              <% end %>
          </td>
        </tr>
    </table>

        <div class="row justify-content-center">
        <%= link_to "編集する", edit_admin_client_path(@client), class: "moe-btn" %>
        <%= link_to "注文一覧を見る",admin_orders_path, class: "moe-btn" %>
        </div>
        <center><div class="heart">&#9829;</div></center>
     </div>
   </div>
   </div>
 </div>
</div>