<div class="container">
<div class="row" style="margin-top:40px;">
<div class="col-9 offset-1">
<h3 style="display:inline">検索結果</h3>
<h6 style="display:inline;">(全<%= @records.count %>件)</h6>
<% if @records.empty? %>
  <div class="text-center" style="margin:30px;">
  <p style="color:red;">該当する商品はありません</p></div>
<% end %>

<div class="d-flex flex-row flex-wrap">
<% @records.each do |data| %>
<div class="item-image col-3" style="margin:30px 0;">
    <%= link_to item_path(data.id) do %>
    <%= attachment_image_tag data, :image, format: 'jpeg', fallback: "no_image.jpg",size:"200x200" %>
    <% end %><br>
    <%=  data.name %><br>
    ￥<%= data.price.round.to_s(:delimited) %>
</div>
<% end %>
</div>