<div class="font">
<div class="item-visual">

　<div class="container bg-light text-dark">
    <h4>♡商品一覧</h4>
      <p style="text-align: right"><%= link_to new_admin_item_path, class: "pull-right"  do %>
      <button type="button" class="btn btn-outline-primary rounded-circle p-0" style="width:2rem;height:2rem;" do %>＋</button>
      <% end %></p>

       <div class="p-3 mb-2 bg-white text-dark">
        <div class="form-group col-12">
            <div class="heart">&#9829;</div>

         <table class="table">
          <thead>
             <tr class="info">
              <th>♡商品ID</th>
              <th>♡商品名</th>
              <th>♡税抜価格</th>
              <th>♡ジャンル</th>
              <th>♡ステータス</th>
            </tr>
          </thead>
          <tbody>
				<% @items.each do |item| %>
  		    <tr>
            <td class="col-２">
              <%= item.id %>
            </td>
             <td class="col-２">
              <%= link_to admin_item_path(item), class: "btn-link" do %>
              <%= item.name %>
              <% end %>
            </td>
            <td class="col-２">
              <%= item.price.to_s(:delimited) %>
            </td>
            <td class="col-２">
              <%= item.genre.name %>
            </td>
            <td class="col-２">
              <% if item.sale_status == true %>
              <p class="text-success">
      			<i class="fas fa-bullseye red"></i>販売中
      				</p>
      				<% elsif item.sale_status == false %>
      					<p class="text-dark">
      					  <i class="fas fa-bullseye blue"></i>販売停止中
      					</p>
      				<% end %>
            　</td>
          　 </tr>
        　　<% end %>
       　 　</tbody>
          　 </table>
        　</div>
        </span>
      </div>
    <%= paginate(@items) %>
 </div>
</div>
</div>