<div class="font">
<div class="new-visual">
 <div class="container">
  <div class="row justify-content-center">
    <div class="p-3 mb-2 bg-light text-dark">
     <h4>♡商品新規登録</h4>
      <div class="col-12 mx-auto">
       <div class="p-3 mb-2 bg-white text-dark">
        <dl>
          <div class=col-10>
           <div class="img_field">
            <%= form_with model: @item, url: '/admin/items', local:true do |f| %>
             <dt><%= f.label :♡商品画像,class: "control-label"  %></dt>
             <dd><%=f.attachment_field :image %></dd>
            <%= render "item", f: f %>
            <div class="group" >
              <center><%= f.submit "新規登録",class: "moe-btn" %></center>
            </div>
            <% end %>
        </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>

