	<div class="show-visual">
		<div class="container">
	    <div class="row justify-content-center">
		    <div class="p-3 mb-2 bg-light text-dark">
			    <h4>▼商品詳細</h4>
			     <div class="p-3 mb-2 bg-white text-dark">
			     	<div class=col-10>
					    <div id="img_field">
				       <%= attachment_image_tag @item, :image, size: "300x200", fallback: "no_image.jpg" %>
						  </div>
					    <div class="field">
								<p>商品名

								<%= @item.name %></p>
						   </div>

						   <div class="field">
								 <p>商品説明

								 <%= @item.introduction %></p>
							</div>

					     <div class="field">
							   <p>ジャンル

								 <%= @item.genre.name %></p>
								 </div>

							 <div class="field">
							  <p>税込価格（税抜価格）

							  <%= (@item.price * 1.1).to_i %>(<%= @item.price %>)円</p>

							 </div>
							  <div class="field">
								 <p>販売ステータス

								 <% if @item.sale_status == true %>
								 <i class="fas fa-bullseye red"></i>販売中
								 <% elsif @item.sale_status == false %>
								 <i class="fas fa-bullseye blue"></i>販売停止中
								 <% end %></p>

							  </div>
			          <center><%= link_to "編集する", edit_admin_item_path(@item), data: {"turbolinks" => false}, class: "btn btn-outline-primary" %></center>
				 </div>
			 </div>
	  </div>
	</div>




