<div class="font">
  <div class="container mb-5">
    <div class="mb-5">
          <div class="row mb-5">
      <div class="col-xs-10">
        <br></br>
        <h2>ショッピングカート</h2>
        <br></br>
        <div class="mb-3"> <%= button_to "カートを空にする", cart_item_destroy_all_path(@cart_items), method: :delete, class:"nae-btn" %> </div>
      </div>
    </div>

    <div class="row">
      <table class="table table-bordered">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_item.item, :image, format: 'jpeg', fallback: "no_image.jpg",size:"50x50" %>&emsp;
              <%= cart_item.item.name %>
            </td>
            <td>¥<%= taxin_price(cart_item.item.price).to_s(:delimited) %></td>
            <td>
              <%= form_with model: cart_item, url: cart_item_path(id: cart_item.id), local: true do |f| %>
                <%= f.number_field :amount, min: 1, max: 20 %>
                <%= f.submit "変更", class: "moe-btn" %>
              <% end %>
            </td>
            <td>¥<%= (taxin_price(cart_item.item.price) * cart_item.amount).to_s(:delimited) %></td>
            <td><%= link_to "削除する", cart_item_path(id: cart_item.id), method: :delete, class: "nae-btn"  %></td>
          </tr>
        <% end %>
      </table>
    </div>

		<table class="table table-bordere">
			<tr>
				<th>合計金額</th>
			</tr>
			<tr>
				<td>¥<%= @total_price.to_s(:delimited) %></td>
			</tr>
		</table>
    <div class="mb-3"><%= link_to "買い物を続ける", root_path, class: "moe-btn" %></div>

    <div class = "oedercheck mb-5 pb-5">
  		<% if @cart_items.count == 0  %>
  			<%= link_to "情報入力に進む", cart_items_path, class: "moe-btn" %>
  		<% else %>
  			<%= link_to "情報入力に進む", new_order_path, class: "moe-btn" %>
  		<% end %>
	  </div>
  </div>
</div>
</div>




