<h2>注文履歴詳細</h2>
<h4>注文情報</h4>
<table>
  <tbody>
    <tr>
      <td>注文日</td>
      <td><%= @order.created_at.strftime('%y/%m/%d') %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td>
        <p><%= @order.postal_code %></p>
        <p><%= @order.address %></p>
        <p><%= @order.name %></p>
      </td>
    </tr>
    <tr>
      <td>支払い方法</td>
      <td><%= @order.total_payment %></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td><%= @order.order_status %></td>
    </tr>
  </tbody>
</table>

<h4>注文内容</h4>
<table>
  <thead>
    <tr>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
    <tr>
      <td><%= order_items.items.name %></td>
      <td><%= order_items.price %></td>
      <td><%= order_items.amount %></td>
      <td><%= order_items.price * order_items.amount %></td>
    </tr>
  </tbody>
</table>

<h4>請求情報</h4>
<table>
  <tbody>
    <tr>
      <td>商品合計</td>
      <tb><%= @sum %></tb>
    </tr>
    <tr>
      <td>配送料</td>
      <td> <%= @order.shipping_cost %></td>
    </tr>
    <tr>
      <td>ご請求額</td>
      <td><%= @order.total_payment %></td>
    </tr>
  </tbody>
</table>
