  <div class="container">
   <div class = "row">



    <%= form_for @address, url:adresses_path, method: :post do |f| %>
    <br></br>
  	<h2>配送先登録/一覧</h2><br>
        <div class = "col-xs-3">
          <%= f.label "郵便番号(ハイフンなし)" %>
        </div>
        <div class = "col-xs-4">
          <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
        </div>
      </div><br>

      <div class = "row">
        <div class = "col-xs-1">
          <%= f.label "住所" %>
        </div>

        <div class = "col-xs-4">
          <%= f.text_field :address, autofocus: true, autocomplete: "address", :size => "40*40" %>
        </div>
      </div><br>

      <div class = "row">
        <div class = "col-xs-1">
          <%= f.label :宛名 %>
        </div>

        <div class = "col-xs-2">
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

         <div class = "col-xs-1">
          <%= f.submit "新規登録", class:"btn btn-success" %>
        </div>

    <% end %>

    <br></br>
    <br></br>
    </div>
   <div class = "row">
    <table  class="table table-bordered col-xs-12">
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>

      <% @addresses.each do |adress| %>
        <tr>
          <td><%= adress.postal_code %></td>
          <td><%= adress.address %></td>
          <td><%= adress.name %></td>
          <td>
            <%= link_to "編集する", edit_adress_path(adress), method: :get , class: "btn btn-primary" %>
            <%= link_to "削除する", adress_path(adress), method: :delete , class: "btn btn-danger" %>
          </td>
        </tr>

      <% end %>
   </table>
  </div>
</div>