<div class="font">
<div class="container">
  <div class="row">
   <h4>♡注文明細</h4>
    <div class="col-12">

    <table class="table">
      <tbody>
      <tr>
        <th>♡購入者</th>
        <td><%= link_to admin_client_path(@order.client) do %>
        <%= @order.client.last_name %>
        <%= @order.client.first_name %>
        <% end %>
        </td>
      </tr>

      <tr>
        <th>♡配送先</th>
        <td><%= @order.address %></td>
      </tr>

      <tr>
        <th>♡支払方法</th>
        <td><%= @order.payment_method %></td>
      </tr>

      <tr>
        <th>♡注文ステータス</th>
        <td>
        <%= form_with model: @order, local:true, url:admin_order_path(@order) do |f| %>
        <%= f.select :order_status,[["入金待ち", :wait_for_payment], ["入金確認", :confirm_payment], ["製作中", :producing], ["発送準備", :ready_to_ship], ["発送済み", :complete_ship]] %>
        <%= f.submit "更新", class: "btn btn-outline-primary" %>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>

      <table class="table">
        <thead>
          <tr>
            <th>♡商品名</th>
            <th>♡単価（税込）</th>
            <th>♡数量</th>
            <th>♡小計</th>
            <th>♡製作ステータス</th>
          </tr>
        </thead>


        <tbody>
      <% @order_items.each do |order_item| %>
          <tr>

            <td><%= order_item.item.name %></td>
            <td>¥<%= (order_item.price * 1.1).floor.to_s(:delimited, delimiter: ',') %></td>
            <td><%= order_item.amount %></td>
            <td>¥<%= (order_item.price * order_item.amount).floor.to_s(:delimited, delimiter: ',') %></td>

            <td>
              <%= form_for (order_item), url:admin_order_item_path(order_item) do |f|  %>
              <%= f.select :making_status, [["着手不可", :not_startable], ["製作待ち", :wait], ["製作中", :producing], ["製作完了", :complete]]  %>
              <%= f.submit '更新',class: "moe-btn" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br><br><br><br><br><br><br><br><br><br>
    <div class="col-xs-4">
      <table class="table">
        <tbody>

          <tr>
            <td>♡商品合計</td>
            <td>¥<%= (@order.total_payment - @order.shipping_cost).to_s(:delimited, delimiter: ',') %></td>
          </tr>
          <tr>
            <td>♡送料</td>
            <td>¥<%= @order.shipping_cost.to_s(:delimited, delimiter: ',') %></td>
          </tr>
          <tr>
            <td>♡請求合計金額</td>
            <td>¥<%= @order.total_payment.to_s(:delimited, delimiter: ',') %></td>
          </tr>
        </tbody>
      </table>
     </div>
    </div>

</div>
</div>

