<div class="container">
  <% @item.each do |item| %>
    <div class="row">
      <div class="col-md-6">
        <%= link_to item_path(item) do %>
          <%= attachment_image_tag(item, :image_id, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h1><%= item.name %></h1>
        <%= item.introduction %>
        <%= item.price %>
        <%=form_for cart, url:"//#{cart.item_id}", method: :post do |f|%>
          <%= f.select :quantity, options_for_select(@numbers, {selected: cart.quantity.to_i} )%>
          <%= f.submit "数量の変更を確定"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>