<div class="mt-5">
  <div class="container ">
    <div class="row">
      <div class="col mt-5 b-5">
        <%= render 'genre', genres: @genres%>
      </div>
      <div class="col mt-5 mb-5">
        <%= link_to item_path(@item) do %>
          <%= attachment_image_tag @item, :image, size: "350x250", fallback: "no_image.jpg" %>
        <% end %>
      </div>
      <div class="col-md-5 ml-5">
        <div class="mt-5 mb-5">
        <h1><%= @item.name %></h1>
        <%= @item.introduction %><br>
        <div class="m-5">￥<%= (@item.price*1.1).floor.to_s(:delimited) %>(税込)</div>
        <div class="rbtn-toolbar m-3">
          <div class="btn-group">
            <% if client_signed_in? %>
	            <%= form_with model: @cart_item ,local: true do |f| %>
		            <%= f.select :amount,(1..20).each{ |i| p [i] } ,include_blank: ">>　個数選択"%>
		            <%= f.hidden_field :item_id, value: @item.id %>
		            <%= f.hidden_field :client_id, value: current_client.id %>
		            <%= f.submit "カートに入れる", class: "moe-btn"%>
	            <% end %>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

