<div class="container">
  <h1>会員情報編集ページ</h1>
  <%= form_with model: @client, url:clients_path, local:true do |f| %>
  <div class="row m-2">
    <div class="col">氏名</div>
    <div class="col">
      <%= f.text_field :last_name, autofocus: true, placeholder:"姓"%>
      <%= f.text_field :first_name, autofocus: true,placeholder:"名"%>
    </div>
  </div>
  
  <div class="row m-2">
    <div class="col">フリガナ</div>
    <div class="col">
      <%= f.text_field :kana_last_name, autofocus: true, placeholder:"セイ"%>
      <%= f.text_field :kana_first_name, autofocus: true, placeholder:"メイ"%>
    </div>
  </div>
  
  <div class="row m-2">
    <div class="col">郵便番号</div>
    <div class="col">
      <%= f.text_field :postal_code, autofocus: true, placeholder:"0000000"%>
    </div>
  </div>
  
  <div class="row m-2">
    <div class="col">住所</div>
    <div class="col">
      <%= f.text_field :address, autofocus: true, placeholder:"東京都市部役代々木神園町0-0"%>
    </div>
  </div>
  
  <div class="row m-2">
    <div class="col">電話番号</div>
    <div class="col">
      <%= f.text_field :telephone_number, autofocus: true, placeholder:"0000000000"%>
    </div>
  </div>
  
  <div class="row m-2">
    <div class="col">メールアドレス</div>
    <div class="col">
      <%= f.text_field :email, autofocus: true, placeholder:"aaa@aaa"%>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <%= f.submit "変更を保存" %>
    </div>
    <div class="col">
      <%= link_to ' 退会',clients_check_path %>
    </div>
  </div>
  <% end %>
</div>