<!--<div class="container">-->
<!--  <h1>マイページ</h1>-->
<!--  <div class="row">-->
<!--    <div class="col">登録情報</div>-->
<!--    <div class="col">%= link_to ' 編集する',edit_clients_path%></div>-->
<!--  </div>-->

<!--  <table class='table'>-->
<!--    <tr>-->
<!--	    <th>氏名</th>-->
<!--	    <th>%= @client.last_name %> %= @client.first_name %></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--	    <th>カナ</th>-->
<!--	    <th>%= @client.kana_last_name %> %= @client.kana_first_name %></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>郵便番号</th>-->
<!--      <th>%= @client.postal_code %></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>住所</th>-->
<!--      <th>%= @client.address %></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>電話番号</th>-->
<!--      <th>%= @client.telephone_number %></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>メールアドレス</th>-->
<!--      <th>%= @client.email %></th>-->
<!--    </tr>-->
<!--</table>-->
<!--  </table>-->
<!--  <div class="row">-->
<!--    <div class="col">配送先</div>-->
<!--    <div class="col">%= link_to ' 一覧を見る',adresses_path%></div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col">注文履歴</div>-->
<!--    <div class="col">%= link_to ' 一覧を見る',orders_path%></div>-->
<!--  </div>-->
<!--</div>-->
<div class="font">
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h2 class="mt-4 page_title">マイページ</h2>
      <div class="row mt-4 mb-4">
        <div class="mx-auto" style="width: 75%">
          <b class="ml-4"><span class="mr-4">登録情報</span></b>
          <span><%= link_to "編集する", edit_clients_path, class: "moe-btn" %></span>
        </div>
      </div>
      <table class="table mx-auto table-bordered mt-4" style="width: 75%">
        <tbody>
          <tr scope="row">
            <th class="border border-dark table-active" style="width: 30%">お名前</th>
            <td class="border border-dark" style="width: 70%"><%= @client.last_name %>&nbsp;&nbsp;&nbsp;<%= @client.first_name %></td>
          </tr>
          <tr scope="row">
            <th class="border border-dark table-active" style="width: 30%">お名前（カタカナ）</th>
            <td class="border border-dark" style="width: 70%"><%= @client.kana_last_name %>&nbsp;&nbsp;&nbsp;<%= @client.kana_first_name %></td>
          </tr>
          <tr scope="row">
            <th class="border border-dark table-active" style="width: 30%">郵便番号</th>
            <td class="border border-dark" style="width: 70%"><%= @client.postal_code %></td>
          </tr>
          <tr scope="row">
            <th class="border border-dark table-active" style="width: 30%">ご住所</th>
            <td class="border border-dark" style="width: 70%"><%= @client.address %></td>
          </tr>
          <tr scope="row">
            <th class="border border-dark table-active" style="width: 30%">お電話番号</th>
            <td class="border border-dark" style="width: 70%"><%= @client.telephone_number %></td>
          </tr>
          <tr scope="row">
            <th class="border border-dark table-active" style="width: 30%">メールアドレス</th>
            <td class="border border-dark" style="width: 70%"><%= @client.email %></td>
          </tr>
        </tbody>
      </table>
        <div class="row mx-auto" style="width: 75%">
          <table class="table table-borderless" style="width: 50%">
            <tbody>
              <tr>
                <th style="width: 50%">ご配送先</th>
                <td style="width: 50%"><%= link_to "一覧を見る", adresses_path, class: "moe-btn" %></td>
              </tr>
              <tr>
                <th>ご注文履歴</th>
                <td><%= link_to "一覧を見る", orders_path, class:"moe-btn" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

