<header class="border-bottom">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <%= link_to "NaganoCake", root_path, class: "navbar-brand text-body"  %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <!--顧客がログインしている時-->
        <% if client_signed_in? %>
          <li><%= link_to ' マイページ',client_path(current_client),class: 'nav-link text-body border m-3' %></li>
          <li><%= link_to ' 商品一覧',items_path,class: 'nav-link text-body m-3' %></li>
          <li><%= link_to ' カート',cart_items_path,class: 'nav-link text-body m-3'%></li>
          <li><%= link_to ' ログアウト', destroy_client_session_path, method: :delete,class: 'nav-link text-body m-3' %></li>

          <!--管理者がログインしている時-->
        <% elsif admin_signed_in? %>
          <li><%= link_to "商品一覧", admin_items_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>
          <li><%= link_to "会員一覧", admin_clients_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>
          <li><%= link_to "注文履歴一覧", admin_orders_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>
          <li><%= link_to "ジャンル一覧", admin_genres_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>
          <li><%= link_to "About", home_about_path, style: "font-family: HiraMinPro-W6; color: #000000;" %></li>
          <li style="font-family: Osaka; margin-top: 15px; color: #696969;">|</li>

          <!--ログインしていない時-->
        <% else %>
          <li><%= link_to ' About',home_about_path,class: 'nav-link text-body border m-3' %></li>
          <li><%= link_to ' 商品一覧',items_path,class: 'nav-link text-body border m-3' %></li>
          <li><%= link_to ' 新規登録', new_client_registration_path,class: 'nav-link text-body border m-3' %></li>
          <li><%= link_to ' ログイン', new_client_session_path ,class: 'nav-link text-body border m-3'%></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
